<div class="container" style="margin-top:20px;padding: 0px 30px 0px 30px">

	<% if(!session.authenticated) { %>
    <div class="jumbotron" style="margin-top:-20px;">
        <h1>Respect Social Networking</h1>

        <h2>Connecting People for Mutual Benifit</h2>

        <form action="/session/create" class="form-horizontal" role="form" style="width:80%; float:center; line-height:40px; padding:10px; margin:auto; border:4px solid #cde;">
        <a href="#" class="list-group-item active" style="margin:-12px -12px 0 -12px;">
      <h4 class="list-group-item-heading">
         Sign in to Ruprise
      </h4>
   </a>

   <div class="form-group col-sm-offset-5" style="margin-left:100px;" >
   <div class="form-group" style="margin-top:5px;">
      <label for="firstname" class="col-sm-2 control-label">Email :</label>
      <div class="col-sm-4">
         <input type="text" class="form-control" id="email" name="email"
            placeholder="Enter Email">
      </div>
   </div>
   <div class="form-group" style="margin-top:-10px;">
      <label for="lastname" class="col-sm-2 control-label">Password :</label>
      <div class="col-sm-4">
         <input type="password" class="form-control" id="password" name="password"
            placeholder="Enter Password">
      </div>
   </div>
   <div class="form-group" style="margin-top:-10px;">
      <div class="col-sm-offset-2 col-sm-3">
         <div class="checkbox">
            <label>
               <input type="checkbox"> Remember me
            </label>
         </div>
      </div>
   </div>
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-1">
         <button type="submit" class="btn btn-success">Sign in</button>
      </div>
   </div>
   </div>
   


   <div class="dropdown" style="float:left;">
   <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" 
      data-toggle="dropdown">
      Login With Socials
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      
      <li role="presentation" >
         <a role="menuitem" tabindex="-1" href="../auth/facebook" class="btn btn-lg btn-primary" style="margin: -10px 0 -10px 0"><span class="badge pull-right">3</span>Facebook</a>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="../auth/google" class="btn btn-lg btn-danger" style="margin: -10px 0 -10px 0">Google+</a>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="../auth/twitter" class="btn btn-lg btn-info" style="margin: -10px 0 -10px 0">
            Twitter
         </a>
      </li>
   </ul>

   </div>
</form>





<p>Don't have a Ruprise Account?<a href="user/new">Sign Up now >></a>

      <!--  <a href="auth/facebook" class="btn btn-lg btn-primary"><img src="../images/fb.png"/>Login with Facebook</a>
        <a href="auth/google" class="btn btn-lg btn-danger"><img src="../images/Gplus.png"/>Login with Google+</a>
        <a href="auth/twitter" class="btn btn-lg btn-info"><img src="../images/twitter.png"/>Login with Twitter</a> -->
    </div>


    <% } %>