/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.jumbotron {
  text-align: center;
}
.jumbotron h2 {
  font-size: 1.5em;
  color: gray;
}
.form-signin {
  max-width: 80%;
  border: 1px solid #ffcc00;
  margin: 0 auto 20px;
  padding: 19px 29px 29px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #f6f6f6;
}
.form-control {
  margin: 10px 0;
}
.productGrid {
  text-align: center;
}
.productGrid ul {
  margin: 0;
  padding: 0;
}
.productGrid ul li {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  float: left;
  height: 250px;
  background: #f8f8f8;
}
.productGrid img {
  border: 5px solid #ff9900;
}
#latestShop div {
  width: 31%;
  float: left;
  line-height: 30px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}
/**********
 * COLORS
 *********/
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.jumbotron {
  text-align: center;
}
.jumbotron h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}
.navbar-brand {
  margin-left: -30px;
}
.container .footer {
  width: 25%;
  float: right;
}
img {
  width: 45px;
  height: 45px;
  margin-top: -10px;
}
th img {
  height: 15px;
  width: 15px;
}
.form-signin {
  max-width: 30%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
  background-color: #ececec;
  border: 1px solid #9ec03b;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form-signin h2 {
  text-align: center;
  margin-top: 0px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
#latestShop div {
  width: 31%;
  float: left;
  line-height: 30px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}
